<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="Content-Style-Type" content="text/css"/>
    <link rel="stylesheet" href="../css/pickingList.css" type="text/css" />
    <title></title>
    <style type="text/css">
        body {
            font-family: pingfang sc light;
        }

        .center {
            text-align: center;
            width: 100%;
        }
    </style>
</head>
<body>
<!--第一页开始-->
<div class="page">
    <div class="center">
        <p>${title} ${datetime}<img src="${imageUrl}"/></p>

        <table>
            <!-- 不支持标签 <th> !!!!!!-->
            <tr>
                <td>批次号</td>
                <td>货架编号</td>
                <td>商家编码</td>
                <td>规格属性</td>
                <td>数量</td>
                <td>库存</td>
                <td>拣货明细</td>
            </tr>
        <#list details as item>
            <tr>
                <td>${item.batchNo}</td>
                <td>${item.cargoNo}</td>
                <td>${item.skuNo}</td>
                <td>${item.specification}</td>
                <td>${item.quantity}</td>
                <td>${item.inventory}</td>
                <td>${item.pickingDetail}</td>
            </tr>
        </#list>
        </table>
    </div>
</div>
<!--第一页结束-->
<!---分页标记-->
<!--<span style="page-break-after:always;"></span>-->
</body>
</html>